@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-top: 4rem;
    flex-direction: row; /* Default layout for larger screens */
}

.card-body {
    font-size: 2rem;
    align-items: center;
}

.question-card {
    background-color: #0a10c9;
    /* padding: 7rem; */
    padding: 2rem !important;
}

.correct-card {
    background-color: green;
    margin-right: 5rem;
}

.wrong-card {
    background-color: red;
  }

.card {
    min-width: 400px;
    padding: 3rem;
    border-radius: 1rem; /* Radius equivalent to 'lg' */
}

.meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.dropdown-button {
    text-transform: capitalize;
}

.standard-chip {
    margin-bottom: 0.5rem;
    min-width: 10.5vw;
}

.bottom-chip {
    min-width: 10.5vw;
}

.chips-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .standard-chip {
        margin-bottom: 0.4rem;
        min-width: 0vw;
        margin-right: 0.2rem;
    }

    .bottom-chip {
        min-width: 0vw;
    }

    .chips-group {
        flex-direction: row;
        padding-top: 1rem;
    }

    .card-container {
      flex-direction: column; /* Stack cards vertically */
      align-items: center; /* Center cards horizontally */
      padding-top: 1rem;
    }

    .card {
        min-width: 300px;
        min-height: 20vh;
        max-height: 20vh;
        padding: 3rem;
    }
  
    .correct-card,
    .wrong-card {
      margin: 0; /* Reset margin for vertical layout */
    }

    .meta {
        flex-direction: column;
        justify-content: flex-start;
    }

    .dropdown-button {
        width: 70vw;
    }

}
